<!-- NAVBAR -->
<nav class="navbar">
  <div class="navbar-container">

    <div class="navbar-inner">

      <div class="navbar-brand">
        <img src="/assets/images/logo/logo_header0.png" alt="">
        <!-- <span class="brand-text">VỆ BINH SỐ</span> -->
      </div>

      <div class="navbar-menu">
        <a href="/index.html">Trang chủ</a>
        <a href="/pages/tin-tuc.html">Tin tức</a>
        <a href="/pages/lua-dao.html">Lừa đảo</a>
        <a href="/pages/ky-nang.html">Kỹ năng</a>
        <a href="/pages/gioi-thieu.html">Giới thiệu</a>
      </div>

      <div class="navbar-action">
        <button class="report-btn">
          <i class="fas fa-bullhorn"></i>
          BÁO CÁO LỪA ĐẢO
        </button>
      </div>

      <!-- MOBILE MENU -->
      <div class="navbar-mobile" id="navbarMobile">
        <a href="/index.html">Trang chủ</a>
        <a href="/pages/tin-tuc.html">Tin tức</a>
        <a href="/pages/lua-dao.html">Lừa đảo</a>
        <a href="/pages/ky-nang.html">Kỹ năng</a>
        <a href="/pages/gioi-thieu.html">Giới thiệu</a>
      </div>
      <button class="navbar-toggle" id="navbarToggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>

  </div>
</nav>